@page
@model WebAppRazorPages.Pages.CreateSubjectModel
@{
    ViewData["Title"] = "Добавить предмет";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить предмет</title>
    <!-- Подключение Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Добавить предмет</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Subject.Name" class="control-label"></label>
                <input asp-for="Subject.Name" class="form-control" />
                <span asp-validation-for="Subject.Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>

        <h2>Список всех предметов</h2>
        <ul class="list-group">
            @foreach (var subject in Model.Subjects)
            {
                <li class="list-group-item">@subject.Name</li>
            }
        </ul>
    </div>
</body>
</html>