@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя Веб-Страница</title>
</head>
<body>
    <!-- Содержимое страницы -->
    <h1>Привет, мир!</h1>
    <span></span>
    <p>Пользователи</p>
    <a href="users">Пользователи</a>
</body>
</html>
