@page
@model WebAppRazorPages.Pages.UserModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Свойства пользователя</title>
    <!-- Подключение Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Дополнительные стили */
        body {
            padding: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Свойства пользователя</h1>
    <p>User ID: @Model.User.Id</p>
    <p>Name: @Model.User.Name</p>
    <p>Email: @Model.User.Email</p>
</body>
</html>
